<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/base}" lang="hr">
<head><title>Kategorije</title></head>
<body>
<div layout:fragment="content">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">Kategorije</h4>
        <a sec:authorize="hasRole('ADMIN')"
           th:href="@{/mvc/categories/new}" class="btn btn-primary btn-sm">
            Nova kategorija
        </a>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <div class="col" th:each="cat : ${categories}">
            <div class="card h-100 shadow-sm">
                <a th:href="@{/mvc/products/categories/{id}(id=${cat.id})}"
                   class="text-decoration-none text-dark">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body text-center">
                            <h6 class="card-title fw-bold" th:text="${cat.name}"></h6>
                        </div>
                    </div>
                </a>
                <div sec:authorize="hasRole('ADMIN')"
                     class="card-footer d-flex justify-content-center align-items-center bg-transparent gap-4">

                    <a th:href="@{/mvc/products/new(categoryId=${cat.id})}"
                       class="btn btn-sm btn-outline-success" title="Dodaj proizvod">
                        <i class="bi bi-plus-lg"></i>
                    </a>

                    <a th:href="@{/mvc/categories/edit/{id}(id=${cat.id})}"
                       class="btn btn-sm btn-outline-secondary" title="Uredi">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <form th:action="@{/mvc/categories/delete/{id}(id=${cat.id})}" method="post"
                          onsubmit="return confirm('Obrisati kategoriju?')">
                        <button class="btn btn-sm btn-outline-danger" title="Obriši">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>


                </div>
            </div>
            <div class="col-12 text-center text-muted py-5" th:if="${#lists.isEmpty(categories)}">
                <i class="bi bi-tags fs-1 d-block mb-2"></i>Nema kategorija.
            </div>
        </div>
    </div>
</div>
</body>
</html>
